*{ box-sizing: border-box;}
/* styling the login page and login form */
.login-main{
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 5rem auto;
    border-radius: 1.5rem;
    box-shadow: 0px 11px 35px 4px rgba(194,194,194,0.8);
}
.login-text {
    padding-top: 40px;
    color: #186b9b;
    /* font-family: ; */
    font-weight: bold;
    font-size: 23px;
}

.login-input {
    width: 75%;
    color: rgb(233, 234, 235);
    font-weight: 700;
    font-size: 15px;
    background:rgba(27, 27, 27, 0.281);
    padding: 10px 20px;
    display: block;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px rgb (138,123, 128);
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    letter-spacing: 1px;
    text-align: center;
}

.login-input:focus{
    border: 1.5px solid rgba(0, 0, 0, 0.18) !important;
}

.login-btn{
    width: 50%;
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    background-color: #186b9b;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline: none;
}

.login-btn:hover{
    background-color: #044d77;
}

.login-btn:focus{
    border: none;
    outline: none;
}

/* styling the home page */
.home-main{
    /* width: 400px; */
    /* height: 400px; */
    margin: 15px auto;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0px 11px 35px -3px rgba(223, 223, 223, 0.8);
}

.home-main:hover{
    box-shadow: 0px 11px 35px 4px rgba(194,194,194,0.8);
}

/* create post page styling */
.create-post-main{
    width: 80%;
    /* height: 700px; */
    text-align: center;
    background-color: rgba(131, 130, 130, 0.205);
    border: none;
    margin: 3rem auto;
    border-radius: 1rem;
    box-shadow: 0px 11px 35px 4px rgba(219, 219, 219, 0.8);
}

/* .form-post{
    text-align: center;
    margin: 10 auto;
    padding: 10 auto;
} */

.create-post-text{
    padding-top: 40px;
    color: #186b9b;
    /* font-family: ; */
    font-weight: 700;
    font-size: 40px;
}

.create-form-input{
    width: 80%;
    display: block;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 15px;
    background:rgba(255, 255, 255, 0.623);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    border: 2px rgb (138,123, 128);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    letter-spacing: 1px;
    /* text-align: center; */
}

#date-picker{
    width: 30%;
}

.create-form-input:focus{
    border: 2px solid rgba(0, 0, 0, 0.205) !important;
}

.submit-btn{
    width: 15%;
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    background-color: #186b9b;
    margin: 0 10px 15px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    text-align: center;
    outline: none;
}

.cancel-btn{
    width: 15%;
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    background-color: #424649;
    margin: 0 10px 15px 10px ;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    text-align: center;
    outline: none;
}

.submit-btn:hover{
    background-color: #044d77;
}

.cancel-btn:hover{
    background-color: #202224;
}

.submit-btn:focus, .cancel-btn:focus{
    border: none;
    outline: none;
}

/* styling the post page */

.column{
    float: left;
    padding: 20px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.content{
    width: 75%;
}

.content hr{
    /* width: 70%; */
    border: 0.5px solid #d8d8d8d2;
}
.content-p{
    text-align: justify;
}

.menu{
    width: 25%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #2a94bb;
    color: #ffffff;
}
  
.menu li:hover {
    background-color: #0099cc;
}
.link-other-post{
    color: #ffffff;
    text-decoration: none;
}
.link-other-post:hover{
    text-decoration: none;
    color: #ffffff;
}

.comment-btn{
    /* width: 15%; */
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    background-color: #186b9b;
    margin: 0 10px 15px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

.comment-input{
    /* width: 80%; */
    display: block;
    color: rgb(233, 234, 235);
    font-weight: 700;
    font-size: 15px;
    background:rgba(27, 27, 27, 0.5);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    border: 2px rgb (138,123, 128);
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 50px; */
    letter-spacing: 1px;
    /* text-align: center; */
}

.comment-hr{
    text-align: left;
    width:25%;
    height: 1px;
    border: 1px dotted;
    color: #cacacaaf;
    background-color:#044d77;
    margin: 0 auto 0 0;
}

/* style blog page or component */
.blog-container{
    margin: 10px auto;
    padding: 5px;
    display: inline-flex;
}

.polaroid{
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1px 1px;
    margin-bottom: 25px;
    margin-right: 6px;
    flex-wrap: wrap;
    display: inline-flex;
}

.text-container{
    text-align: center;
    padding: 10px;
}

.btn-blog{
    text-align: center;
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
    background-color: #186b9b;
    margin: 0 10px 15px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none;

}

.btn-blog:hover{
    background-color: #044d77;
}

.btn-blog:focus{
    border: none;
    outline: none;
}